In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [ ]:
sample=pd.read_csv("/content/Customers.csv")
sample.head()

,CustomerID,Gender,Age,Annual Income ($),Spending Score (1-100),Profession,Work Experience,Family Size
0,1,Male,19,15000,39,Healthcare,1,4
1,2,Male,21,35000,81,Engineer,3,3
2,3,Female,20,86000,6,Engineer,1,1
3,4,Female,23,59000,77,Lawyer,0,2
4,5,Female,31,38000,40,Entertainment,2,6

In [ ]:
#pre=processing
X=sample[['Spending Score (1-100)','Annual Income ($)','Work Experience']]
y=sample['Profession']
X_train, X_test,y_train,y_test=train_test_split(X,y,test_size=0.25,random_state=44)

In [ ]:
#feature scaling
scaler=StandardScaler()
scaler.fit(X_train)
X_train=scaler.transform(X_train)
X_test=scaler.transform(X_test)

In [ ]:
sample.dropna(how='any', subset=['Profession'], inplace=True)

In [ ]:
sample.isnull().sum()

CustomerID                0
Gender                    0
Age                       0
Annual Income ($)         0
Spending Score (1-100)    0
Profession                0
Work Experience           0
Family Size               0
dtype: int64

In [ ]:
#characterize
from sklearn.neighbors import KNeighborsClassifier
classifier=KNeighborsClassifier(n_neighbors=5)
classifier.fit(X_train, y_train)
y_pred=classifier.predict(X_test)

In [ ]:
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score
print (confusion_matrix, accuracy_score)
print (classification_report(y_test,y_pred))
print (accuracy_score(y_test, y_pred)*100)

<function confusion_matrix at 0x7dfbb700b640> <function accuracy_score at 0x7dfbb700b760>
               precision    recall  f1-score   support

       Artist       0.31      0.66      0.42       144
       Doctor       0.06      0.06      0.06        32
     Engineer       0.13      0.06      0.08        49
Entertainment       0.15      0.09      0.11        58
    Executive       0.14      0.05      0.07        41
   Healthcare       0.27      0.18      0.21        96
    Homemaker       0.00      0.00      0.00        13
       Lawyer       0.12      0.07      0.09        29
    Marketing       0.00      0.00      0.00        30

     accuracy                           0.26       492
    macro avg       0.13      0.13      0.12       492
 weighted avg       0.20      0.26      0.20       492

25.609756097560975

/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [ ]:
data1=[[81,35000,3]]
print(classifier.predict(data1))

data2=[[34,65000,6]]
print(classifier.predict(data2))

['Engineer']
['Engineer']